@model HomeViewModel<Session>;
@using System.Reflection;

<div class="card flex-grow-1">
    <div class="card-header text-white bg-dark">
        <h2>@Model.Title</h2>
    </div>

    <table class="card-body table table-striped table-hover mb-0">
        <thead>
            <tr>
                @foreach (string header in Model.Headers)
                {
                    <th>@header</th>
                }
            </tr>
        </thead>

        <tbody>
            @foreach (Session session in Model.Records)
            {
                <tr>
                    @foreach (PropertyInfo info in Model.Properties)
                    {
                        <td>@Model.GetValueForRecord(session, info.Name)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
