@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('#{$font-path}/roboto-light.eot');
    src: url('#{$font-path}/roboto-light.eot?#iefix') format('embedded-opentype'), url('#{$font-path}/roboto-light.woff2') format('woff2'), url('#{$font-path}/roboto-light.woff') format('woff'), url('#{$font-path}/roboto-light.ttf') format('truetype'), url('#{$font-path}/roboto-light.svg#fontawesome') format('svg');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


html, body {
    height: 100%;
}

body#maincontent {
    background-image: $gradiantDark;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 58px;
}

footer {
    border-top: 1px solid black;
}

body > .container {
    height: calc(100% - 40px);
}

th a {
    float: left;
    width: 100%;
    display: block;
    white-space: nowrap;
}

th a span {
    font-family: $font-family-base;
    font-weight: bold;
}

ul.pagination {
    margin: 0.5rem 0;
}

.fancybox-slide--iframe .fancybox-content {
    width: 600px;
    height: 600px;
    max-width: 80%;
    max-height: 80%;
    margin: 0;
}

.fancybox-active {
    height: 100% !important;
}