@font-face {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-regular.eot"), url("../fonts/roboto-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff") format("woff"), url("../fonts/roboto-regular.ttf") format("truetype"), url("../fonts/roboto-regular.svg#Roboto-Regular") format("svg");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    height: 100%;
}

body#maincontent {
    background-image: $gradiantDark;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 58px;
}

footer {
    border-top: 1px solid black;
}

body > .container {
    height: calc(100% - 40px);
}

th a {
    float: left;
    width: 100%;
    display: block;
    white-space: nowrap;
}

th a span {
    font-family: $font-family-base;
    font-weight: bold;
}

ul.pagination {
    margin: 0.5rem 0;
}

.fancybox-slide--iframe .fancybox-content {
    width: 600px;
    height: 600px;
    max-width: 80%;
    max-height: 80%;
    margin: 0;
}

.fancybox-active {
    height: 100% !important;
}