$font-family-base: Roboto, Arial;

@import "../lib/bootstrap/scss/bootstrap-utilities";
@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/variables";
@import "../lib/bootstrap/scss/mixins";
@import "../lib/bootstrap/scss/utilities";

// Layout & components
@import "../lib/bootstrap/scss/root";
@import "../lib/bootstrap/scss/reboot";
@import "../lib/bootstrap/scss/type";
//@import "../lib/bootstrap/scss/images";
@import "../lib/bootstrap/scss/containers";
@import "../lib/bootstrap/scss/grid";
@import "../lib/bootstrap/scss/tables";
@import "../lib/bootstrap/scss/forms";
@import "../lib/bootstrap/scss/buttons";
@import "../lib/bootstrap/scss/transitions";
//@import "../lib/bootstrap/scss/dropdown";
@import "../lib/bootstrap/scss/button-group";
@import "../lib/bootstrap/scss/nav";
@import "../lib/bootstrap/scss/navbar";
@import "../lib/bootstrap/scss/card";
//@import "../lib/bootstrap/scss/accordion";
//@import "../lib/bootstrap/scss/breadcrumb";
@import "../lib/bootstrap/scss/pagination";
//@import "../lib/bootstrap/scss/badge";
//@import "../lib/bootstrap/scss/alert";
//@import "../lib/bootstrap/scss/progress";
//@import "../lib/bootstrap/scss/list-group";
//@import "../lib/bootstrap/scss/close";
//@import "../lib/bootstrap/scss/toasts";
//@import "../lib/bootstrap/scss/modal";
//@import "../lib/bootstrap/scss/tooltip";
//@import "../lib/bootstrap/scss/popover";
//@import "../lib/bootstrap/scss/carousel";
//@import "../lib/bootstrap/scss/spinners";
//@import "../lib/bootstrap/scss/offcanvas";

// Helpers
@import "../lib/bootstrap/scss/helpers";

// Utilities
@import "../lib/bootstrap/scss/utilities/api";

@import "variables";
@import "general";
@import "navbar";
@import "login";
@import "icons";
